# Binaries
arch-load-manager
arch-load-daemon

# Objects
*.o

# Temporary files
/tmp/
.directory
*~
*.swp

# Override file (test mode)
arch-load-manager-override

# Config (local testing)
cpu_affinity_manager.json
arch-load-manager.json

# Build directories
build/
dist/
bin/